.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
*.generated.*
src/lib/graphql/*
!src/lib/graphql/*.graphql
api/.keystone/**/*
api/schema.graphql

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
