/*------------------------------------*\
#Base
\*------------------------------------*/
@use '@brave/leo/build/css/variables.css';

@tailwind base;

@layer base {
  html,
  body {
    font: 16px;
    height: 100%;
    color: theme('colors.text.primary');
  }

  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  body > footer {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .preload * {
    transition: none !important;
  }
}

/*------------------------------------*\
  #Components
\*------------------------------------*/
@tailwind components;

@layer components {
  .link {
    all: unset;
    color: theme("colors.text.interactive");
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      color: theme("colors.primary.60");
    }
    &:visited:not(:hover) {
      color: theme("colors.pink.50");
    }
    &:focus-visible:not(.disabled) {
      color: theme("colors.text.interactive");
      box-shadow: theme("boxShadow.focus-state");
    }
    &.disabled {
      color: theme("colors.text.disabled");
      pointer-events: none;
    }
  }
}

/*------------------------------------*\
  #Utilities
\*------------------------------------*/
@tailwind utilities;
